name: Add ok-to-test to Dependabot PRs

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write

jobs:
  add-label:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    
    steps:
      - name: Add 'ok-to-test' label
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          gh pr edit $PR_URL --add-label "ok-to-test"
